body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Removes ugly focus outline/border */
*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}