@import url('./theme/color.css');
@import url('./theme/font.css');
@import url('./theme/background.css');

:root {
  image-rendering: pixelated;
  font-size: 16px;
}

body {
  font-family: var(--ft-base);
  font-size: var(--ft-size-base);
  line-height: var(--ft-lh-base);
}

h1 {
  font-family: var(--ft-head);
  font-size: calc(var(--ft-size-head));
  line-height: calc(var(--ft-lh-head));
  margin: 0em 0 0.5em;

  font-weight: normal;
  letter-spacing: 0.0625rem;
  color: var(--ct-text-heading);
}

h2 {
  font-family: var(--ft-head-2);
  font-size: var(--ft-size-head-2);
  line-height: var(--ft-lh-head-2);
  margin: 1em 0 0.5em;

  font-weight: normal;
  color: var(--ct-text-heading-2);
}

h3 {
  font-family: var(--ft-text);
  font-size: var(--ft-size-text);
  line-height: var(--ft-lh-text);
  margin: 1em 0 0.5em;

  font-weight: normal;
  color: var(--ct-text-heading-3);
}

p {
  font-family: var(--ft-text);
  font-size: var(--ft-size-text);
  line-height: var(--ft-lh-text);

  margin: 0 0 1em;
}

ul,
ol {
  list-style: "\2022  " outside;
  padding-left: 2em;
  margin: 1em 0 1em;
}

strong {
  font-weight: inherit;
  letter-spacing: 0.0625rem;
  text-shadow: 0.0625rem 0 var(--ct-text-light);
}

em {
  font-style: inherit;
  color: var(--ct-text-accent);
}

a.fake-href {
  cursor: pointer;
  text-decoration: underline;
}

a[href],
a.fake-href {
  color: var(--ct-text-link);
}

a[href]:visited {
  color: var(--ct-text-visited);
}

/* Fallback theme in case root elem loses its class somehow */
:root:not([class]) {
  --ct-is-dark-theme: 0;
  --ct-background: #008080;
  --ct-content-bg: #ffffff;

  --ct-base: #c0c0c0;
  --ct-dark: #808080;
  --ct-darker: #000000;
  --ct-light: #dedede;
  --ct-lighter: #ffffff;

  --ct-title: var(--ct-darker);
  --ct-text: var(--ct-darker);
  --ct-text-heading: var(--ct-darker);
  --ct-text-heading-2: var(--ct-text-heading);
  --ct-text-heading-3: var(--ct-text-heading);
  
  --ct-text-light: #404040;
  --ct-text-disabled: var(--ct-dark);
  --ct-text-disabled-shadow: var(--ct-lighter);

  --ct-text-link: rgb(0, 102, 204);
  --ct-text-visited: rgb(85, 26, 139);

  --ct-accent-bg: #000080;
  --ct-accent-text: var(--ct-lighter);
  --ct-is-dark-accent: 1;

  --ct-select-bg: var(--ct-accent-bg);
  --ct-select-text: var(--ct-lighter);

  --ct-border: var(--ct-darker);
}

/* Text classes ============================================================= */
.text-light {
  color: var(--ct-text-light);
}

/* Theme classes ============================================================ */

.bevel {
  background: var(--ct-base);
  padding: 0.125rem;
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-darker),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-lighter),
    inset -0.125rem -0.125rem 0 0 var(--ct-dark),
    inset 0.125rem 0.125rem 0 0 var(--ct-light);
}

.bevel.inset,
.bevel.inset-active:active,
button.bevel:active {
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-darker),
    inset -0.125rem -0.125rem 0 0 var(--ct-light),
    inset 0.125rem 0.125rem 0 0 var(--ct-dark);
}

.bevel.checkbox {
  background: var(--ct-lighter);
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-dark),
    inset -0.125rem -0.125rem 0 0 var(--ct-light),
    inset 0.125rem 0.125rem 0 0 var(--ct-darker);
}

.bevel.win-content,
.bevel.content {
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-dark),
    inset -0.125rem -0.125rem 0 0 var(--ct-light),
    inset 0.125rem 0.125rem 0 0 var(--ct-darker);
}

.bevel.win-frame {
  padding: 0;
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-darker),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-light),
    inset -0.125rem -0.125rem 0 0 var(--ct-dark),
    inset 0.125rem 0.125rem 0 0 var(--ct-lighter);
}

.bevel.light {
  padding: 0.0625rem;
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-dark),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-lighter);
}

.bevel.light.inset,
.bevel.light.inset-active:active,
button.bevel.light:active {
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-dark);
}

.bevel.bevel-alt {
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-darker),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-lighter),
    inset -0.125rem -0.125rem 0 0 var(--ct-dark);
}

.bevel.hover:not(:hover) {
  box-shadow: none;
}

.bevel.divider {
  border: none;
  padding: 0;
  margin: 0;
}

.divider.horizontal {
  height: 0.125rem;
  width: 100%;
  box-shadow:
    inset 0px -0.0625rem 0 0 var(--ct-lighter),
    inset 0px 0.0625rem 0 0 var(--ct-dark);
}

.divider.vertical {
  width: 0.125rem;
  height: 100%;
  box-shadow:
    inset -0.0625rem 0px 0 0 var(--ct-lighter),
    inset 0.0625rem 0px 0 0 var(--ct-dark);
}

:disabled {
  color: var(--ct-text-disabled);
  text-shadow: 0.0625rem 0.0625rem var(--ct-text-disabled-shadow);
}

::selection {
  background: var(--ct-select-bg);
  color: var(--ct-select-text);
}

/* Theme components ========================================================= */

/* "Desktop" */
.desktop {
  background-color: var(--ct-background);
  color: var(--ct-text);

  background-image: var(--bg-image, none);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
  background-position: var(--bg-position);
  background-blend-mode: var(--bg-blend, normal);
}

/* Button */
button,
.fake-button {
  line-height: 0.875rem;
}

button.bevel,
.fake-button.bevel {
  padding: 0.25rem 0.625rem;
}

button.bevel.icon-button,
.fake-button.bevel.icon-button {
  padding: 0.1875rem;
}

button.bevel > *,
.fake-button.bevel > * {
  display: block;
}

button.bevel:active > * {
  transform: translate(0.0625rem, 0.0625rem);
}

button.checkered:not(:hover) {
  background-image:
    linear-gradient(45deg, var(--ct-lighter) 25%, transparent 25%),
    linear-gradient(-45deg, var(--ct-lighter) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--ct-lighter) 75%),
    linear-gradient(-45deg, transparent 75%, var(--ct-lighter) 75%);

  background-size: 0.125rem 0.125rem;
  background-position: 0 0, 0 0.0625rem, 0.0625rem -0.0625rem, -0.0625rem 0;
}

.icon-button img {
  width: 1rem;
  height: 1rem;
}

/* Input */
input {
  background: var(--ct-base);
  padding: 0.125rem 0.375rem;
  border: none;
}

input.bevel {
  padding: 0.125rem 0.375rem;
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-dark),
    inset -0.125rem -0.125rem 0 0 var(--ct-light),
    inset 0.125rem 0.125rem 0 0 var(--ct-darker);
}

input:not([disabled]) {
  border: none;
  background: var(--ct-content-bg);
}

/* Range input */
input[type=range] {
  height: 1.25rem;
  margin: 0;
  background: none;

  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.125rem;
  width: 100%;
  box-shadow:
    inset 0px -0.0625rem 0 0 var(--ct-lighter),
    inset 0px 0.0625rem 0 0 var(--ct-dark);
}

input[type=range]::-moz-range-track {
  height: 0.125rem;
  width: 100%;
  box-shadow:
    inset 0px -0.0625rem 0 0 var(--ct-lighter),
    inset 0px 0.0625rem 0 0 var(--ct-dark);
}

input[type=range]::-webkit-slider-thumb {
  width: 0.625rem;
  height: 1.25rem;

  background: var(--ct-base);
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-darker),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-lighter),
    inset -0.125rem -0.125rem 0 0 var(--ct-dark),
    inset 0.125rem 0.125rem 0 0 var(--ct-light);

  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  transform: translateY(-0.5625rem);
}

input[type=range]::-moz-range-thumb {
  width: 0.625rem;
  height: 1.25rem;

  background: var(--ct-base);
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-darker),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-lighter),
    inset -0.125rem -0.125rem 0 0 var(--ct-dark),
    inset 0.125rem 0.125rem 0 0 var(--ct-light);

  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

/* Checkbox */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  padding-left: 1.25rem;
}

input[type=checkbox] + label::before {
  content: '';

  background-color: var(--ct-content-bg);

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-0.4375rem);

  width: 0.8125rem;
  height: 0.8125rem;
  box-shadow:
    inset -0.0625rem -0.0625rem 0 0 var(--ct-lighter),
    inset 0.0625rem 0.0625rem 0 0 var(--ct-dark),
    inset -0.125rem -0.125rem 0 0 var(--ct-light),
    inset 0.125rem 0.125rem 0 0 var(--ct-darker);
}

input[type=checkbox] + label::after {
  content: '';

  background-image: url('/src/assets/ui/check.png');
  background-position: center;
  background-size: 0.5625rem 0.5625rem;
  background-repeat: no-repeat;
  filter: invert(var(--ct-is-dark-theme));

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-0.4375rem);

  display: grid;

  width: 0.8125rem;
  height: 0.8125rem;
  padding: 0.125rem;
}

input[type=checkbox]:checked + label::after {
  background-image: url('/src/assets/ui/check.c.png');
}

input[type=checkbox]:disabled + label::after {
  background-image: url('/src/assets/ui/check.d.png');
}

input[type=checkbox]:checked:disabled + label::after {
  background-image: url('/src/assets/ui/check.c.d.png');
}

/* Window parts */
.action-bar {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}