/* Color theme ============================================================== */

.theme__default {
  --ct-is-dark-theme: 0;
  --ct-background: #008080;
  --ct-content-bg: #ffffff;

  --ct-base: #c0c0c0;
  --ct-dark: #808080;
  --ct-darker: #000000;
  --ct-light: #dedede;
  --ct-lighter: #ffffff;

  --ct-title: var(--ct-darker);
  --ct-text: var(--ct-darker);
  --ct-text-heading: var(--ct-text);
  --ct-text-heading-2: var(--ct-text-heading);
  --ct-text-heading-3: var(--ct-select-bg);

  --ct-text-light: #808080;
  --ct-text-disabled: var(--ct-dark);
  --ct-text-disabled-shadow: var(--ct-lighter);

  --ct-text-link: rgb(0, 102, 204);
  --ct-text-visited: rgb(85, 26, 139);

  --ct-accent-bg: #000080;
  --ct-accent-text: var(--ct-lighter);
  --ct-is-dark-accent: 1;

  --ct-select-bg: var(--ct-accent-bg);
  --ct-select-text: var(--ct-lighter);

  --ct-ok: #008000;
  --ct-warn: #800000;

  --ct-border: var(--ct-darker);
}

.theme__dark {
  --ct-is-dark-theme: 1;
  --ct-background: #282828;
  --ct-content-bg: #202020;

  --ct-base: #404040;
  --ct-dark: #202020;
  --ct-darker: #000000;
  --ct-light: #6f6f6f;
  --ct-lighter: #808080;

  --ct-title: #dedede;
  --ct-text: #dedede;
  --ct-text-heading: var(--ct-text);
  --ct-text-heading-2: hsl(212, 75%, 80%);
  --ct-text-heading-3: hsl(212, 75%, 75%);

  --ct-text-light: #808080;
  --ct-text-disabled: var(--ct-light);
  --ct-text-disabled-shadow: var(--ct-darker);

  --ct-text-link: hsl(212, 55%, 60%);
  --ct-text-visited: hsl(280, 55%, 55%);

  --ct-accent-bg: #000080;
  --ct-accent-text: var(--ct-text);
  --ct-is-dark-accent: 1;

  --ct-select-bg: hsl(212, 75%, 60%);
  --ct-select-text: var(--ct-darker);

  --ct-ok: var(--ct-select-bg);
  --ct-warn: hsl(15, 95%, 60%);

  --ct-border: var(--ct-lighter);
}

.theme__2k {
  --ct-is-dark-theme: 0;
  --ct-background: #3a6ea5;
  --ct-content-bg: #ffffff;

  --ct-base: #d4d0c8;
  --ct-dark: #808080;
  --ct-darker: #404040;
  --ct-light: #d4d0c8;
  --ct-lighter: #ffffff;

  --ct-title: #000000;
  --ct-text: #000000;
  --ct-text-heading: var(--ct-text);
  --ct-text-heading-2: var(--ct-text-heading);
  --ct-text-heading-3: var(--ct-select-bg);

  --ct-text-light: #808080;
  --ct-text-disabled: var(--ct-dark);
  --ct-text-disabled-shadow: var(--ct-lighter);

  --ct-text-link: rgb(0, 102, 204);
  --ct-text-visited: rgb(85, 26, 139);
  
  --ct-accent-bg: #000080;
  --ct-accent-text: var(--ct-lighter);
  --ct-is-dark-accent: 1;

  --ct-select-bg: #16293f;
  --ct-select-text: var(--ct-lighter);

  --ct-ok: #008000;
  --ct-warn: #800000;

  --ct-border: var(--ct-darker);
}

.theme__blue {
  --ct-is-dark-theme: 1;
  --ct-background: #455364;
  --ct-content-bg: #282e36;

  --ct-base: #343f4d;
  --ct-dark: #111519;
  --ct-darker: #000000;
  --ct-light: #4d5e73;
  --ct-lighter: #809cbf;

  --ct-title: #faf74b;
  --ct-text: #fffda1;
  --ct-text-heading: var(--ct-text);
  --ct-text-heading-2: var(--ct-title);
  --ct-text-heading-3: var(--ct-title);

  --ct-text-light: var(--ct-lighter);
  --ct-text-disabled: var(--ct-light);
  --ct-text-disabled-shadow: var(--ct-darker);

  --ct-text-link: var(--ct-title);
  --ct-text-visited: hsl(32, 95%, 57%);

  --ct-accent-bg: #000080;
  --ct-accent-text: var(--ct-text);
  --ct-is-dark-accent: 1;

  --ct-select-bg: var(--ct-title);
  --ct-select-text: var(--ct-dark);

  --ct-ok: hsl(120, 70%, 40%);
  --ct-warn: hsl(0, 95%, 60%);

  --ct-border: var(--ct-text);
}