/* === BASE FONT ======================================= */
.font-base__hp {
  --ft-base: 'Mx437 HP 100LX 6x8', 'HP 100LX 6x8';
  --ft-size-base: 0.5rem;
  --ft-lh-base: 1rem;
}

/* === FONT THEME ====================================== */
.font-text__set0 {
  --ft-text: 'Mx437 Paradise132 7x16', 'Paradise132 7x16';
  --ft-size-text: 1rem;
  --ft-lh-text: 1.125rem;
  
  --ft-head-2: 'Mx437 ToshibaTxL1 8x16', 'ToshibaTxL1 8x16';
  --ft-size-head-2: 1rem;
  --ft-lh-head-2: 1.25rem;
  
  --ft-head: 'Mx437 DOS/V re. ANK24', 'DOS/V re. ANK24';
  --ft-size-head: 1.5rem;
  --ft-lh-head: 1.75rem;
}

.font-text__set1 {
  --ft-text: 'Mx437 Paradise132 7x16', 'Paradise132 7x16';
  --ft-size-text: 1rem;
  --ft-lh-text: 1.125rem;
  
  --ft-head-2: 'Mx437 Nix8810 M15', 'Nix8810 M15';
  --ft-size-head-2: 1rem;
  --ft-lh-head-2: 1.25rem;
  
  --ft-head: 'Mx437 DOS/V re. ANK24', 'DOS/V re. ANK24';
  --ft-size-head: 1.5rem;
  --ft-lh-head: 1.75rem;
}

.font-text__set2 {
  --ft-text: 'Mx437 DOS/V re. JPN12', 'DOS/V re. JPN12';
  --ft-size-text: 0.75rem;
  --ft-lh-text: 1.125rem;
  
  --ft-head-2: 'Mx437 DOS/V re. ANK16', 'DOS/V re. ANK16';
  --ft-size-head-2: 1rem;
  --ft-lh-head-2: 1.25rem;
  
  --ft-head: 'Mx437 DOS/V re. ANK24', 'DOS/V re. ANK24';
  --ft-size-head: 1.5rem;
  --ft-lh-head: 1.75rem;
}

.font-text__set3 {
  --ft-text: 'Mx437 ToshibaTxL2 8x16', 'ToshibaTxL2 8x16';
  --ft-size-text: 1rem;
  --ft-lh-text: 1.25rem;
  
  --ft-head-2: 'Mx437 CL EagleII 9x16', 'CL EagleII 9x16';
  --ft-size-head-2: 1rem;
  --ft-lh-head-2: 1.25rem;
  
  --ft-head: 'Mx437 DOS/V re. ANK24', 'DOS/V re. ANK24';
  --ft-size-head: 1.5rem;
  --ft-lh-head: 1.75rem;
}

/* === TITLE FONT ======================================= */
.font-title__paradise {
  --ft-title: 'Mx437 Paradise132 7x16', 'Paradise132 7x16';
  --ft-size-title: 1rem;
  --ft-lh-title: 1.25rem;
}

.font-title__jpn12 {
  --ft-title: 'Mx437 DOS/V re. JPN12', 'DOS/V re. JPN12';
  --ft-size-title: 0.75rem;
  --ft-lh-title: 1.25rem;
}

.font-title__ank16 {
  --ft-title: 'Mx437 DOS/V re. ANK16', 'DOS/V re. ANK16';
  --ft-size-title: 1rem;
  --ft-lh-title: 1.25rem;
}

.font-title__tosh2 {
  --ft-title: 'Mx437 ToshibaTxL2 8x16', 'ToshibaTxL2 8x16';
  --ft-size-title: 1rem;
  --ft-lh-title: 1.25rem;
}